@model System.Data.DataTable
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="invoice-body">
    <h1>Khai báo thông tin hóa đơn</h1>
    @Html.BeginForm("Supplier", "System", FormMethod.Post)
    {
    <div class="form-invoice-info">
        <div class="form-invoice-input">
            <label class="label-input" for="supplierid">ID Nhà Phân Phối</label>
            <input type="text"
                   id="txtSupplierID"
                   name="supplierid" />
        </div>
        <div class="form-invoice-input">
            <label class="label-input" for="suppliername">Tên Nhà Phân Phối</label>
            <input type="text"
                   id="txtSupplierName"
                   name="suppliername" />
        </div>
        <div class="form-invoice-input">
            <label class="label-input" for="supplieraddress">Địa Chỉ</label>
            <input type="text" id="txtSupplierAddress" name="supplieraddress" />
        </div>
    </div>
    <div class="form-invoice-btn">
        <button class="btn-invoice" id="btn-create" name="create" value="Create">Thêm</button>
        <button style="display:none" class="btn-invoice" id="btn-update" name="update" value="Update" onclick="hideUpdate()">Sửa</button>
        <button style="display:none" class="btn-invoice" id="btn-delete" name="delete" value="Delete" onclick="hideDelete()">Xóa</button>
        <button class="btn-invoice" id="btn-search" name="search" value="Search">Tìm Kiếm</button>
        <button class="btn-invoice" id="btn-refresh" name="refresh" value="Refresh">Làm Mới</button>
    </div>
    }
</div>
<div class="invoice-data-container">
    <table class="table">
        <thead>
            <tr>
                <th>ID Nhà Phân Phối</th>
                <th>Tên Nhà Phân Phối</th>
                <th>Địa Chỉ</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Rows.Count; i++)
            {
                <tr>
                    <td>@Model.Rows[i][0]</td>
                    <td>@Model.Rows[i][1]</td>
                    <td>@Model.Rows[i][2]</td>
                    <td>
                        <span onclick="handleUpdate(@i)">
                            <img style="width:18px; height:18px"
                                 src="~/Content/images/edit.svg" title="Edit user" />
                        </span>
                        <span onclick="handleDelete(@i)">
                            <img style="width:18px; height:18px; margin-left: 4%;"
                                 src="~/Content/images/bin.svg" title="Delete user" />
                        </span>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="data-paginate"></div>
</div>
<script>
    const handleUpdate = (i) => {
        const x = document.getElementById("btn-update");
        if (x.style.display === "none") {
            x.style.display = "block";
        }
        if (i === 0) {
            document.getElementById('txtSupplierID').value = document.querySelector(`table tbody tr:first-child`).children[0].innerText
            document.getElementById('txtSupplierName').value = document.querySelector(`table tbody tr:first-child`).children[1].innerText
            document.getElementById('txtSupplierAddress').value = document.querySelector(`table tbody tr:first-child`).children[2].innerText

        } else {
            document.getElementById('txtSupplierID').value = document.querySelector(`table tbody tr:nth-child(${i+1})`).children[0].innerText
            document.getElementById('txtSupplierName').value = document.querySelector(`table tbody tr:nth-child(${i + 1})`).children[1].innerText
            document.getElementById('txtSupplierAddress').value = document.querySelector(`table tbody tr:nth-child(${i + 1})`).children[2].innerText
        }
    }

    const handleDelete = (i) => {
        const x = document.getElementById("btn-delete");
        if (x.style.display === "none") {
            x.style.display = "block";
        }
        i === 0 ? document.getElementById('txtSupplierID').value = document.querySelector(`table tbody tr:first-child`).children[0].innerText : document.getElementById('txtSupplierID').value = document.querySelector(`table tbody tr:nth-child(${i + 1})`).children[0].innerText
    }

    const hideDelete = () => {
        const x = document.getElementById("btn-delete");
        if (x.style.display === "block") {
            x.style.display = "none";
        }
    }

    const hideUpdate = () => {
        const x = document.getElementById("btn-update");
        if (x.style.display === "block") {
            x.style.display = "none";
        }
    }
</script>
